/* [PN] General styles */

body {
    background-color: #002740;
    color: #d4eaff;
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #4ea1ff;
}

a:active {
    color: #82bdff;
}

a:hover {
    color: #82bdff;
}

.container {
    width: 90%; /* [PN] Use responsive width */
    max-width: 800px; /* [PN] Limit width for larger screens */
    margin: 0 auto;
    padding: 20px 0;
}

.small-text {
    font-size: 0.75em; /* [PN] Reduce font size to 80% of the parent */
    color: #d4eaff; /* [PN] Optional: make the text a bit lighter for emphasis */
}

kbd {
    background: #165b99;               /* [PN] Глубокий синий, как разделители */
    border: 1px solid #4ea1ff;         /* [PN] Акцентная голубая рамка */
    border-radius: 4px;
    box-shadow: inset 0 0 3px #082234; /* [PN] Внутреннее затемнение для рельефа */
    padding: 2px 6px;
    font-family: monospace;
    font-size: 0.95em;
    color: #d4eaff;                    /* [PN] Основной цвет текста, чтобы читалось */
}


/* [PN] Navigation */

.menu {
    display: flex;
    justify-content: center;
    gap: clamp(10px, 7%, 64px); /* [PN] Minimum 10px, proportionally 7% of width, maximum 64px */
    margin-bottom: 30px;
    flex-wrap: wrap; /* [PN] Allow navigation to wrap to the next line on smaller screens */
}

.menu a {
    font-size: 1.1em;
    font-weight: bold;
    color: #4ea1ff;
}

.menu a.active {
    text-decoration: underline;
    color: #d4eaff;
}

.menu a:hover {
    color: #d4eaff;
}

/* [PN] Sections */

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

hr {
    border: none;
    border-top: 1px solid #165b99;
    margin: 20px 0;
}

/* [PN] Additional */

p {
    margin: 10px 0;
}

.code {
    background: #e8e8e8;
    padding: 2px 4px;
}

/* [PN] Music related */

.music-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.music-list li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #165b99;
}

.music-list li:last-child {
    border-bottom: none;
}

.music-list span {
    color: #abd3ff;
    font-style: italic;
}

/* [PN] Profile related */

.profile {
    display: flex; /* [PN] Text and image are aligned in one row */
    align-items: flex-start; /* [PN] Align to the top edge */
    margin-bottom: 20px;
}

.profile-image {
    width: auto; /* [PN] Retain the original image size */
    height: auto;
    margin-right: 15px; /* [PN] Add space to the right of the image */
    border-radius: 10%;
}

.profile-text {
    flex: 1; /* [PN] Text occupies the remaining space */
}
